<div class="container">
    <div class="float-end">
        <h1 class="text-light title">Cinema <br> Ironhack</h1>
        <br>
        <a href="/movies" class="btn btn-light btn-outline-info rounded-pill"><h2>Check the movies!</h2></a>
    </div>
</div>