<h2>Click on the movie to show showtimes!</h2>
{{#each movies}}
    <li>
        <h3>{{this.title}}</h3>
        <img src="{{this.image}}">
        <p><a href="/movie/{{this._id}}">See more</a></p>
    </li>
{{/each}}