body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  background-image: url("/images/cinema.jpg");
  
  background-attachment: fixed;
  background-size: cover;
  
  background-origin: content-box;
}

a {
  color: #00B7FF;
}

.title {
  font-size: 10em;
}

@media only screen and (max-width: 600px) {
  
  .title {
    font-size: 5em;
  }
}